<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sofia.hunian">

    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_signup"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_signup"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hunian">
        <activity
            android:name=".user.KeranjangUser"
            android:exported="false" />
        <activity
            android:name=".user.InputHunianUser"
            android:exported="false" />
        <activity
            android:name=".admin.laporan.LaporanDataUser"
            android:exported="false" />
        <activity
            android:name=".admin.laporan.LaporanDataHunianKeluar"
            android:exported="false" />
        <activity
            android:name=".admin.laporan.LaporanDataHunianMasuk"
            android:exported="false" />
        <activity
            android:name=".admin.laporan.LaporanDataHunian"
            android:exported="false" />
        <activity
            android:name=".user.DisukaiUser"
            android:exported="false" />
        <activity
            android:name=".user.ProfileUser"
            android:exported="false" />
        <activity
            android:name=".user.KatalogUser"
            android:exported="false" />
        <activity
            android:name=".admin.LaporanAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.ProfileAdmin"
            android:exported="false" />
        <activity
            android:name=".admin.KatalogAdmin"
            android:exported="false" />
        <activity
            android:name=".user.HomeUser"
            android:exported="false" />
        <activity
            android:name=".admin.HomeAdmin"
            android:exported="false" />
        <activity
            android:name=".starter.SignUp"
            android:exported="false" />
        <activity
            android:name=".starter.SignIn"
            android:exported="false" />
        <activity
            android:name=".starter.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>